<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.this0.blog.mapper.ArticleMapper">
    <insert id="insertArticle">
        insert into article(title, introduction, content, cid, uid)
        values (#{title}, #{introduction}, #{content}, #{cid}, #{uid})
    </insert>
    <delete id="deleteArticleById">
        delete
        from article
        where id = #{id}
    </delete>
    <update id="updateArticle">
        update article
        set title=#{title},
            cid=#{cid},
            introduction=#{introduction},
            content=#{content}
        where id = #{id}
    </update>
    <select id="selectAllArticleByCategory" resultType="Article">
        select id,title,introduction,content,cid,uid,create_time,update_time from article
        <where>
            <if test="cid!=null and cid !=0">
                cid=#{cid}
            </if>
        </where>
    </select>
    <select id="selectArticleById" resultType="Article">
        select id,
               title,
               introduction,
               content,
               cid,
               uid,
               create_time,
               update_time
        from article
        where id = #{id}
    </select>
    <select id="selectAllArticleByUid" resultType="Article">
        select id, title, cid, introduction, uid, create_time, update_time
        from article
        where uid = #{uid}
    </select>
</mapper>